$Moderate-cyan: #3cb4ac;
$Dark-cyan: #147b74;
$Dark-gray: #7a7a7a;
$Black: #000000;
$Shadow: #0000000b;
$Border: #00000016;
$Border-two: #00000035;
$White: #fff;
$OffWhite-Bg: #FAFAFA;
$Commissioner: 'Commissioner', sans-serif;